body
{
	background-color: #68b2b1;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, p
{
	padding: 0px;
	margin: 0px;
}
#home {
    width: 100%;
}
#overlay {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
a, a:hover, a:focus{
	text-decoration: none;
}
h1.error-title
{
	font-size: 135px;
	font-family: 'Arimo', sans-serif;
	color: #fff;
}
h1.error-title small
{
	font-size: 80px;
	color: #fff;
}
.alert-icon i
{
	font-size: 88px;
	color: #fff;
}
#page-content
{
	padding: 100px 0px 150px;
}
h3.sub-title
{
	font-size: 30px;
	padding-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 86px 6px 12px;
}
.white
{
	color: #fff;
}
.btn-search, .btn-search:hover, .btn-search:focus
{
	background-color: #E74C3C;
	color: #fff;
	padding: 14px 23px;
}
.search-page
{
	margin-top: 40px;
}
.btn-back, .btn-back:focus
{
	background-color: #E74C3C;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 30px;
	color: #fff;
	text-decoration: none;
	transition-duration: .3s;
}
.btn-back:hover{
	background-color: #fff;
	color:#E74C3C;
}
.btn-back i
{
	padding-left: 5px;
}
.no-border-radius
{
	border-radius: 0px;
}
#footer
{
	background-color: #ca3d3e;
	position: absolute;
	width: 100%;
	bottom: 0px;
}
.nav-footer
{
	list-style: none;
	float: right;
}
.nav-footer li
{
	display: inline-block;
}
.nav-footer li a
{
	border-right: 1px solid #ddd;
	padding: 0px 15px ;
	color: #fff;
	transition-duration: .3s;
}
.nav-footer li a:hover{
	opacity: 1;
	color: rgba(0, 0, 0, 0.5);
}
.white
{
	color: #fff;
	transition-duration: .3s;
}
.nav-footer li.last-child a
{
	border-right: none;
}
.magt20, .footer-line
{
	margin: 20px 0px;
	text-align: center;
}
@media (min-width: 435px) and (max-width: 768px) {

	.footer-line
	{
		text-align: center;
	}
	.magt20
	{
	display: inline-block;
	text-align: center;
	float: left;
	width: 100%;
	}
}
@media (min-width: 250px) and (max-width: 434px) {
	
	.magt20, .footer-line{
		text-align: center;
		float: left;
	}
	.magt20{
		margin: 20px -14px !important;
	}
	.width-fix{
		width: 300px;
		margin: 0 auto;
	}
}